@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;600;700 & display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --padding-container: 100px 0;
    --color-tittle: #001A49;
}
body{
     background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.contenedor {
    margin: auto;
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
.titulo{
    text-transform:capitalize;
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.inicio{
    width: 100%;
    height: 100vh;
    background: #556270;  
    background: -webkit-linear-gradient(to right, hsla(0, 100%, 71%, 0.100), hsla(220, 14%, 39%, 0.248)), url(../fotos/uñasrojas2.jpg);  /* aca esto sirve para que yo luego pueda agregar mas backgrounds*/
    background: linear-gradient(to right, hsla(0, 100%, 71%, 0.100), hsla(220, 14%, 39%, 0.248)), url(../fotos/uñasrojas2.jpg);/*aca esta basicamente la imagen y su gradiente*/
}

.nav {
    padding: 25px 20px 25px 50px;
    text-align: right;
    position: sticky; /* esto es para que la barra de navegacion me siga hasta la siguiente pagina cuando haga scroll*/
    top: 0;
    z-index: 2;
}

.nav-ustedes{
    display: flex;
    justify-content: center;
    width: 100%;
}
ul {
    display: inline-flex;
    overflow: hidden;
    max-width: 100%;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  }
  .nav-item {
    color: #030c3a;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    position: relative;
  }
  .nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #365fd2;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
  }

  .nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
  }
  .nav-item:not(.is-active):hover {
    color: #333;
  }
  @media (max-width: 580px) {
    ul {
      overflow: auto;
    }
  }
  .nav-item.uno:hover {
    color: orange;
  }
  .nav-item.tres:hover {
    color: blue;
  }
  .nav-item.cuatro:hover {
    color: red;
  }
  .nav-item.cinco:hover {
    color: rebeccapurple;
  }
.nav.container{
    display: flex;
    justify-content: space-between;
}
.nav-ustedes{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.nav_logo{
    color: #ffffff;
}
@media screen and (max-width:900px) {
    header{
        background-position: center;
    }

    .contenedor-imagenes-unpocodemi{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-mi .contenido-textos{
        width: 90%;
    }
    .imagen-aboutme{
        width: 90%;
    }

    /* mis clientas*/
    .cards{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

        /*mis servicios*/
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-individual{
        width: 100%;
        text-align: center;
    }

    .servicio-individual:nth-child(1), .servicio-individual:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-individual img{
        width: 90%;
    }
}






